body {
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	
	min-height: 100vh;
	background-color: #FFFFFF;
}

main {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	
	margin-top: 15px;
	margin-bottom: 30px;
}

header,
footer {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

@media (min-width: 768px) {
	.container {
		max-width: 767px;
	}
}

/* Header */

header {
	background-color: #EFEDE7;
	
	-webkit-box-shadow: 0px 2px 6px 0px gray;
	-moz-box-shadow: 0px 2px 6px 0px gray;
	box-shadow: 0px 2px 6px 0px gray;
}

header img {
	height: 60px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header p {
	color: #22313F;
	text-transform: lowercase;
	text-shadow: -1px -1px 1px #aaa, 1px 1px 1px #ccc;
	font-size: 17.5px;
	text-align: center;
	padding-top: 7.5px;
}

header a {
	opacity: 1;
	
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

header a:focus,
header a:hover {
	opacity: 0.5;
	text-decoration: none;
}

/* Navigation bar */

.navbar-default {
	background-color: #EFEDE7;
	border-color: #EFEDE7;
	text-align:center;
}

.navbar-default .navbar-nav > li > a {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 3px solid #D7D7D7;
}

.navbar-default .navbar-nav > .active > a {
	color: #555;
	background-color: #EFEDE7;
	border-bottom: 3px solid #F39355;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #111;
	background-color: #F39355;
	border-bottom: 3px solid #F39355;
}

/* Navbar position */

.outter {
	position: relative;
}

.inner {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

/* Footer */

footer {
	color: #D1D7E7;
	background-color: #4C5365;
	text-align: center;
	
	-webkit-box-shadow: 0px -2px 6px 0px gray;
	-moz-box-shadow: 0px -2px 6px 0px gray;
	box-shadow: 0px -2px 6px 0px gray;
}

footer a {
	color: #D1D7E7;
	text-decoration: none;
	border-bottom: 1px dotted #D1D7E7;
	
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

footer a:focus,
footer a:hover {
	color: #F39355;
	text-decoration: none;
	border-bottom: 1px solid #F39355;
}

footer .vertical-seperator {
	height: 10px;
}

/* Select placeholder/dropdown */

.select-placeholder,
.select-dropdown-arrow {
	color: #999;
}

.select-placeholder option {
	color: #555;
}

.select-placeholder option:first-child {
	display: none;
}

.select-dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select-dropdown::-ms-expand {
	display: none;
}

