body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    min-height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 1200px) {
    body {
        background-image: url("images/background/1600.jpg");
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    body {
        background-image: url("images/background/1199.jpg");
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    body {
        background-image: url("images/background/767.jpg");
    }
}

@media (max-width: 479px) {
    body {
        background-image: url("images/background/479.jpg");
    }
}

main {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

header, nav, main, footer {
    width: 100%;
    border: 0px;
    margin: 0px auto !important;
}

/* Header */

header {
    padding: 24px 0px;
}

@media (min-width: 768px) {
    header a {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    header a > div:first-child,
    header a > div:last-child {
        -webkit-flex: auto;
        -moz-flex: auto;
        -ms-flex: auto;
        flex: auto;
    }
    
    header a > div:first-child {
        text-align: right;
        padding-right: 32px;
    }
    
    header a > div:last-child {
        text-align: left;
        padding-left: 32px;
    }
    
    header a > div:nth-child(2) {
        -webkit-flex: 0;
        -moz-flex: 0;
        -ms-flex: 0;
        flex: 0;
    }
    
    header a > div:nth-child(2):after,
    header a > div:nth-child(2):before {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 50%;
    }
    
    header a > div:nth-child(2):after {
        top: 0;
        background: #666;
        background: -webkit-linear-gradient(bottom, #666 0%, transparent 100%);
        background: -moz-linear-gradient(bottom, #666 0%, transparent 100%);
        background: -o-linear-gradient(bottom, #666 0%, transparent 100%);
        background: linear-gradient(to top, #666 0%, transparent 100%);
    }
    
    header a > div:nth-child(2):before {
        bottom: 0;
        background: #666;
        background: -webkit-linear-gradient(top, #666 0%, transparent 100%);
        background: -moz-linear-gradient(top, #666 0%, transparent 100%);
        background: -o-linear-gradient(top, #666 0%, transparent 100%);
        background: linear-gradient(to bottom, #666 0%, transparent 100%);
    }
}

@media (max-width: 767px) {
    header a > div {
        text-align: center;
    }
    
    header a > div:last-child {
        margin-top: 12px;
    }
}

header a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

header a:focus,
header a:hover {
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
    transform: scale(1.025);
    text-decoration: none;
}

header img {
    width: auto;
    height: 64px;
}

header h2 {
    color: #424242;
    margin: 0px;
    line-height: 1;
    font-family: "Open Sans Condensed", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Navigation bar */

.navbar {
    border-radius: 0px;
    background-image: none;
    background-color: #3c3c3c;
    border-color: #3c3c3c;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        float: none;
        vertical-align: top;
        display: inline-block;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-nav > li > a {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/* Main */

main > .container {
    padding: 36px;
    background-color: #ffffff;
}

main > .container > .row > * > *:last-child {
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    main {
        background-color: #ffffff;
    }
    main > .container {
        padding: 40px 16px !important;
    }
}

main > .container > .row > div > .page-header:first-child {
    margin-top: -20px;
}

@media (min-width: 768px) {
    main {
        margin-bottom: 24px !important;
        margin-top: 24px !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    main > .container {
        -webkit-box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.25);
        -moz-box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.25);
        box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.25);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media (min-width: 992px) {
    main {
        max-width: 991px;
    }
    main > div {
        width: 991px !important;
    }
}

/* Footer */

footer {
    background-color: #3c3c3c;
    padding-bottom: 16px;
    padding-top: 16px;
    color: #c3c3c3;
}

footer a {
    color: #cdcdcd;
    text-decoration: none;
    border-bottom: 1px dotted #c3c3c3;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

footer a:focus,
footer a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}

footer .vertical-separator {
    height: 10px;
}

/* Election header */

.election-box {
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
}

.election-box > div + div {
    padding-top: 10px;
    border-top: 1px solid #e2e2e2;
}

.election-box > .header {
    padding: 16px;
    background-color: #ffffff;
}

.election-box > .header > h3 {
    margin-top: 0px;
}

.election-box > .header > .time {
    color: #666;
    cursor: help;
    text-decoration: none;
}

.election-box > .header > .time > .text {
    border-bottom: 1px dotted #666;
}

.election-box > .header > .time > .glyphicon {
    top: 3px;
    margin-right: 2px;
}

.election-box > .header > .tooltip > .tooltip-inner {
    max-width: none;
}

.election-box > .body {
    padding: 8px 0px;
    background-color: #f9f9f9;
}

.election-box > .body > div {
    float: left;
    padding: 0px 6px;
}

.election-box > .body > div > div {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    color: #666;
}

.election-box > .body > div > div:hover,
.election-box > .body > div > div:focus {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    color: #444;
}

.election-box > .body > div:not(:last-child) {
    border-right: 1px solid #e2e2e2;
}

/* Spinning glyphicon */

.glyphicon-spin {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Select placeholder/dropdown */

.select-placeholder,
.select-dropdown-arrow {
    color: #999;
}

.select-placeholder option {
    color: #555;
}

.select-placeholder option:first-child {
    display: none;
}

.select-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-dropdown::-ms-expand {
    display: none;
}

/* Test media query */

@media (min-width: 1200px) {
    #media-query-test {
        min-width: 1200px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #media-query-test {
        min-width: 992px;
        max-width: 1199px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #media-query-test {
        min-width: 768px;
        max-width: 991px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    #media-query-test {
        min-width: 480px;
        max-width: 767px;
    }
}

@media (max-width: 479px) {
    #media-query-test {
        min-width: 0px;
        max-width: 479px;
    }
}

