{% extends "abb/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load common.utils %}


{% block css %}

<link rel="stylesheet" href="{% static 'common/libs/highlight.js/8.9.1/styles/github.css' %}">
<link rel="stylesheet" href="{% static 'abb/audit.css' %}">

{% endblock css %}


{% block main %}

<div class="row">
    <div class="col-xs-12">
        
        {% tuple _("Election") election.id as t1 %}
        {% tuple _("Participants") participants as t2 %}
        {% tuple t1 t2 as panels %}
        {% include "common/election_box.html" with object=election panels=panels %}
        
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                
                <div class="main-header-small">
                    <h3>{% trans "Export Data" %}</h3>
                </div>
                
                <a class="btn btn-default" href="{% url 'abb-api:export:election:data' Election__id=election.id %}" role="button">{% trans "Export ballot data" %}</a>
                <a class="btn btn-default" href="{% url 'abb-api:export:election:data' Election__id=election.id %}?election=cert" role="button">{% trans "Export certificate" %}</a>
                
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                
                <div class="main-header-small">
                    <h3>{% trans "Audit Ballot" %}</h3>
                </div>
                
                <div class="panel panel-default panel-input">
                    <div class="panel-body">
                        <div class="input-group">
                            <input id="audit-input" type="text" class="form-control" placeholder="{% trans 'Serial number' %}">
                            <span class="input-group-btn">
                                <button id="audit-button" class="btn btn-default btn-circle">{% trans "Check" %}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="audit-panel" class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                    {% for part in "ab" %}
                    <li role="presentation" class="{% if forloop.first %}active{% endif %}">
                        <a role="tab" data-toggle="tab" href="#part-{{ part }}">{% trans "Side" %} {{ part|upper }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    {% for part in "ab" %}
                    <div role="tabpanel" class="tab-pane fade {% if forloop.first %}active in{% endif %}" id="part-{{ part }}">
                        {% for question in questions %}
                        <div class="panel panel-default hidden">
                            <div class="panel-heading">{% trans "Question" %}{% if questions|length > 1 %} {{ question.index|add:"1" }}{% endif %}: {{ question.text }}</div>
                            <div class="panel-table">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Vote-code" %}</th>
                                            <th><span>{% trans "Vote" %}</span><span>{% trans "Option" %}</span></th>
                                            <th>{% trans "Pre-vote Audit" %}</th>
                                            <th>{% trans "Candidate" %}</th>
                                            <th>{% trans "Post-vote Audit" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for option in question.options_c.values %}
                                        <tr>
                                            <td><button type="button" class="btn btn-info votecode"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button></td>
                                            <td><button type="button" class="btn btn-primary option" data-content="{{ option.text }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></d>
                                            <td><button type="button" class="btn btn-warning zk1"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></button></td>
                                            <td><button type="button" class="btn btn-danger com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button></td>
                                            <td><button type="button" class="btn btn-success zk2"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="json-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="json-modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="json-modal-label">{% trans "JSON Viewer" %}</h4>
            </div>
            <div class="modal-body">
                <div class="spinner hidden">
                    <p class="text-center">{% trans "Please wait..." %}</p>
                </div>
                <div class="error hidden">
                    <p class="text-center">{% trans "An error occurred while processing your request" %}.</p>
                </div>
                <pre class="json hidden"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> {% trans "Save" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>

{% endblock main %}


{% block script %}

<script src="{% static 'common/libs/highlight.js/8.9.1/highlight.pack.js' %}"></script>
<script src="{% static 'common/libs/JSON.sortify/1.0.2/index.js' %}"></script>
<script src="{% static 'common/libs/sjcl/sjcl.custom.min.js' %}"></script>
<script src="{% static 'common/sjcl-base32cf.js' %}"></script>
<script src="{% static 'common/sjcl-divmod.js' %}"></script>
<script src="{% static 'common/permutation.js' %}"></script>

<script>
    var vc_type = {{ election.vc_type }};
    var e_url = "{% url 'abb-api:export:election:data' Election__id=election.id %}";
    
    var VcType = { {% for name, value in VcType.items %} {{ name }}: {{ value }}, {% endfor %} };
</script>

<script src="{% static 'abb/audit.js' %}"></script>

{% endblock script %}
