# Byte-compiled / optimized files
__pycache__/
*.py[co]
*$py.class

# C extensions
*.so

# Translations
*.mo
*.pot

# Virtualenv
/env/
/venv/

# Django
/media/
/static/
local_settings.py

# Backups
*~
*.orig

