{% extends "demos_utils/base.html" %}

{% load i18n %}

{% block title %}{% trans "Election Authority" %}{% endblock title %}
{% block logo-link %}{% url 'demos_ea:home' %}{% endblock logo-link %}
{% block logo-title %}{% trans "Election Authority" %}{% endblock logo-title %}

{% block navbar-links %}

{% url 'demos_ea:define' as define_url %}
{% url 'demos_ea:manage' as manage_url %}

<li{% if request.path = define_url %} class="active" {% endif %}><a href={{ define_url }}>{% trans "Create Election" %}{% if request.path = def_url %}<span class="sr-only">(current)</span>{% endif %}</a></li>
<li{% if request.path = manage_url %} class="active" {% endif %}><a href={{ manage_url }}>{% trans "Manage Election" %}{% if request.path = man_url %}<span class="sr-only">(current)</span>{% endif %}</a></li>

{% endblock navbar-links %}

