{% extends "election_authority/base.html" %}

{% load i18n %}
{% load staticfiles %}


{% block main %}

<div class="row">
    <div class="col-xs-12">
        {% include "base/alerts.html" %}
        {% include "base/home.html" %}

        <div class="page-header text-center">
            <h2>{% trans "Welcome to the DEMOS e-voting system" %}</h2>
        </div>

        <p class="text-center">
            {% trans "You can create a new election, check the status of an existing one or move to the election center to see the elections you are involved in." %}
        </p>
    </div>
</div>

{% endblock main %}
