{% extends "common/base.html" %}

{% load i18n %}
{% load common.utils %}

{% block title %}
    {% trans "Election Authority" as title %}
    {{ block.super }}
{% endblock title %}

{% block header %}
    {% trans "Election Authority" as title %}
    {% url "ea:home" as url %}
    {{ block.super }}
{% endblock header %}

{% block navbar %}
    {% tuple "ea:home" _("Home") False as home %}
    {% tuple "ea:create" _("Create") False as create %}
    {% tuple "ea:status" _("Status") True as status %}
    {% tuple "ea:center" _("Account") False as center %}
    {% tuple home create status center as links %}
    {{ block.super }}
{% endblock navbar %}

