{% extends "ea/base.html" %}

{% load i18n %}
{% load staticfiles %}


{% block css %}

<!-- bootstrap-datetimepicker.css -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

<!-- create.css -->
<link rel="stylesheet" href="{% static "ea/create.css" %}">

{% endblock css %}


{% block main %}

<div class="row">
    <div class="col-xs-12">

        <form action="{% url "ea:create" %}" method="post">
            {% csrf_token %}

            {% trans "General" as general %}
            {% trans "The following errors where detected" as following_errors_detected %}

            <div id="election" class="form-horizontal group-wrapper">

                <div class="main-header-small">
                    <h3>{% trans "Election" %}</h3>
                    <h5 class="text-muted">({% trans "all fields are required" %})</h5>
                </div>

                <div class="alert-wrapper">
                    {% if election_form.errors or election_form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <h4>{{ following_errors_detected }}:</h4>
                        <ul class="list-unstyled">
                        {% if election_form.non_field_errors %}
                            <li><strong>{{ general }}:</strong> {{ election_form.non_field_errors }}</li>
                        {% endif %}
                        {% for field in election_form %}
                            {% if field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ field.errors }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>

                <div class="form-group {% if election_form.name.errors %} has-error {% endif %}">
                    <label for="{{ election_form.name.id_for_label }}" class="col-sm-3 col-md-2 control-label">{{ election_form.name.label }}:</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="text" class="form-control" id="{{ election_form.name.auto_id }}" placeholder="{% trans "Type the election's name here" %}" value="{{ election_form.name.value|default_if_none:'' }}" name="{{ election_form.name.html_name }}" maxlength="{{ election_form.name.field.max_length }}">
                    </div>
                </div>

                <div class="form-group {% if election_form.type.errors %} has-error {% endif %}">
                    <label for="{{ election_form.type.id_for_label }}" class="col-sm-3 col-md-2 control-label">{{ election_form.type.label }}:</label>
                    <div class="col-sm-9 col-md-10">
                        {% for radio in election_form.type %}
                        {% if not forloop.first %}
                        <div class="radio">
                            <label>{{ radio.tag }}{{ radio.choice_label }}</label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %} form-group {% if election_form.max_candidate_choices.errors %} has-error {% endif %}">
                    <label for="{{ election_form.max_candidate_choices.id_for_label }}" class="col-sm-3 col-md-2 control-label">{{ election_form.max_candidate_choices.label }}:</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="input-group input-group-spinner">
                            <input type="text" class="form-control input-type-number" id="{{ election_form.max_candidate_choices.auto_id }}" placeholder="{% trans "How many?" %}" value="{{ election_form.max_candidate_choices.value|default_if_none:'' }}" name="{{ election_form.max_candidate_choices.html_name }}" min="{{ election_form.max_candidate_choices.field.min_value }}" max="{{ election_form.max_candidate_choices.field.max_value }}">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-triangle-top"></span></button>
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group {% if election_form.voting_starts_at.errors %} has-error {% endif %}">
                    <label for="{{ election_form.voting_starts_at.id_for_label }}" class="col-sm-3 col-md-2 control-label">{{ election_form.voting_starts_at.label }}:</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="{{ election_form.voting_starts_at.auto_id }}" placeholder="{% trans "Date and time" %}">
                            <div class="input-group-addon" data-toggle="tooltip" data-container="body" title="{{ datetime_picker }}"><span class="glyphicon glyphicon-calendar"></span></div>
                        </div>
                        <input class="datetime-iso8601-input" type="text" value="{{ election_form.voting_starts_at.value|default_if_none:'' }}" name="{{ election_form.voting_starts_at.html_name }}" hidden>
                    </div>
                </div>

                <div class="form-group {% if election_form.voting_ends_at.errors %} has-error {% endif %}">
                    <label for="{{ election_form.voting_ends_at.id_for_label }}" class="col-sm-3 col-md-2 control-label">{{ election_form.voting_ends_at.label }}:</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="{{ election_form.voting_ends_at.auto_id }}" placeholder="{% trans "Date and time" %}">
                            <div class="input-group-addon" data-toggle="tooltip" data-container="body" title="{{ datetime_picker }}"><span class="glyphicon glyphicon-calendar"></span></div>
                        </div>
                        <input class="datetime-iso8601-input" type="text" value="{{ election_form.voting_ends_at.value|default_if_none:'' }}" name="{{ election_form.voting_ends_at.html_name }}" hidden>
                    </div>
                </div>

                <div class="form-group {% if election_form.ballot_count.errors %} has-error {% endif %}">
                    <label for="{{ election_form.ballot_count.id_for_label }}" class="col-sm-3 col-md-2 control-label">{{ election_form.ballot_count.label }}:</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="input-group input-group-spinner">
                            <input type="text" class="form-control input-type-number" id="{{ election_form.ballot_count.auto_id }}" placeholder="{% trans "How many?" %}" value="{{ election_form.ballot_count.value|default_if_none:'' }}" name="{{ election_form.ballot_count.html_name }}" min="{{ election_form.ballot_count.field.min_value }}" max="{{ election_form.ballot_count.field.max_value }}">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-triangle-top"></span></button>
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group {% if election_form.votecode_type.errors %} has-error {% endif %}">
                    <label for="{{ election_form.votecode_type.id_for_label }}" class="col-sm-3 col-md-2 control-label">{{ election_form.votecode_type.label }}:</label>
                    <div class="col-sm-9 col-md-10">
                        {% for radio in election_form.votecode_type %}
                        {% if not forloop.first %}
                        <div class="radio">
                            <label>{{ radio.tag }}{{ radio.choice_label }}</label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if election_form.security_code_type.errors %} has-error {% endif %}">
                    <label for="{{ election_form.security_code_type.id_for_label }}" class="col-sm-3 col-md-2 control-label">{{ election_form.security_code_type.label }}:</label>
                    <div class="col-sm-9 col-md-10">
                        {% for radio in election_form.security_code_type %}
                        {% if not forloop.first %}
                        <div class="radio">
                            <label>{{ radio.tag }}{{ radio.choice_label }}</label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group {% if election_form.trustee_emails.errors %} has-error {% endif %}">
                    <label for="{{ election_form.trustee_emails.id_for_label }}" class="col-sm-3 col-md-2 control-label">{{ election_form.trustee_emails.label }}:</label>
                    <div class="col-sm-9 col-md-10">
                        <textarea class="form-control" id="{{ election_form.trustee_emails.auto_id }}" placeholder="{% trans "e.g." %}: alice@demos-voting.org, bob@demos-voting.org" value="{{ election_form.trustee_emails.value|default_if_none:'' }}" name="{{ election_form.trustee_emails.html_name }}" maxlength="{{ election_form.trustee_emails.field.max_length }}" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <div id="question-table" class="group-wrapper">

                <div class="main-header-small">
                    <h3><span class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %}">{% trans "Questions" %}</span><span class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %}">{% trans "Parties" %}</span></h3>
                    <h5 class="text-muted"><span class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %}">({% trans "drag and drop to rearrange the questions" %})</span><span class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %}">({% trans "drag and drop to rearrange the parties" %})</span></h5>
                </div>

                <div class="alert-wrapper">
                    {% if question_formset_errors or question_formset.non_form_errors %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <h4>{{ following_errors_detected }}:</h4>
                        <ul class="list-unstyled">
                        {% if question_formset_errors or question_formset.non_form_errors %}
                            <li><strong>{{ general }}:</strong>
                                <ul class="errorlist">
                                {% for error in question_formset.non_form_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                {% if question_formset_errors %}
                                    <li>{% blocktrans with number=question_formset_errors %}There are errors in {{ number }} of the questions{% endblocktrans %}.</li>
                                {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th><span class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %}">{% trans "Question" %}</span><span class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %}">{% trans "Party" %}</span></th>
                            <th class="text-center">{% trans "Action" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question_form, option_formset in option_formsets %}
                        <tr class="question-entry {% if question_form.errors or option_formset.total_error_count %} danger {% endif %} {% if forloop.last %} hidden {% endif %}" data-index="{% if not forloop.last %}{{ forloop.counter0 }}{% else %}__prefix__{% endif %}">
                            <th scope="row">{% if not forloop.last %}{{ forloop.counter }}{% endif %}</th>
                            <td class="">{% if not forloop.last %}{{ question_form.name.value }}{% endif %}</td>
                            <td class="text-center"><button type="button" class="btn btn-default btn-sm question-remove" data-toggle="tooltip" data-container="body" data-title-referendum="{% trans "Remove this question" %}" data-title-election="{% trans "Remove this party" %}"><span class="glyphicon glyphicon-trash"></span></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <td><span class="text-muted"><em><span class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %}">{% trans "Click on the action to add a new question" %}</span><span class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %}">{% trans "Click on the action to add a new party" %}</span></em></span></td>
                            <td class="text-center"><button type="button" id="question-add" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" data-title-referendum="{% trans "Add new question" %}" data-title-election="{% trans "Add new party" %}"><span class="glyphicon glyphicon-plus"></span></button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="form-buttons" class="text-right">
                <button type="button" class="btn btn-default" id="ballot-preview">{% trans "Ballot preview" %}</button>
                <button type="submit" class="btn btn-default">{% trans "Create election" %}</button>
            </div>

            {{ question_formset.management_form }}

            {% for question_form, option_formset in option_formsets %}

            {% if forloop.last %}
        </form> {# exclude formset's empty_form from the actual form #}
            {% endif %}

            <div class="question hidden" data-index="{% if not forloop.last %}{{ forloop.counter0 }}{% else %}__prefix__{% endif %}">

                <div class="group-wrapper">

                    <div class="modal-header-small">
                        <h3><span class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %}">{% trans "Question" %}</span><span class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %}">{% trans "Party" %}</span></h3>
                        <h5 class="text-muted">({% trans "all fields are required" %})</h5>
                    </div>

                    <div class="alert-wrapper">
                        {% if question_form.errors or question_form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <h4>{{ following_errors_detected }}:</h4>
                            <ul class="list-unstyled">
                            {% if question_form.non_field_errors %}
                                <li><strong>{{ general }}:</strong> {{ question_form.non_field_errors }}</li>
                            {% endif %}
                            {% for field in question_form %}
                                {% if field.errors %}
                                <li><strong>{{ field.label }}:</strong> {{ field.errors }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group {% if question_form.name.errors %} has-error {% endif %}">
                        <label class="sr-only" for="{{ question_form.name.id_for_label }}">{{ question_form.name.label }}</label>
                        <div class="input-group">
                            <div class="input-group-addon">{{ question_form.name.label }}</div>
                            <input type="text" class="form-control" id="{{ question_form.name.auto_id }}" placeholder="{% trans "Type the name here" %}" value="{{ question_form.name.value|default_if_none:'' }}" name="{{ question_form.name.html_name }}" maxlength="{{ question_form.name.field.max_length }}">
                        </div>
                    </div>

                    <div class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %} form-group {% if question_form.min_choices.errors %} has-error {% endif %}">
                        <label class="sr-only" for="{{ question_form.min_choices.id_for_label }}">{{ question_form.min_choices.label }}</label>
                        <div class="input-group input-group-spinner">
                            <div class="input-group-addon">{{ question_form.min_choices.label }}:</div>
                            <input type="text" class="form-control input-type-number" id="{{ question_form.min_choices.auto_id }}" placeholder="{% trans "How many?" %}" value="{{ question_form.min_choices.value|default_if_none:'' }}" name="{{ question_form.min_choices.html_name }}" min="{{ question_form.min_choices.field.min_value }}" max="{{ question_form.min_choices.field.max_value }}">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-triangle-top"></span></button>
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %} form-group {% if question_form.max_choices.errors %} has-error {% endif %}">
                        <label class="sr-only" for="{{ question_form.max_choices.id_for_label }}">{{ question_form.max_choices.label }}</label>
                        <div class="input-group input-group-spinner">
                            <div class="input-group-addon">{{ question_form.max_choices.label }}:</div>
                            <input type="text" class="form-control input-type-number" id="{{ question_form.max_choices.auto_id }}" placeholder="{% trans "How many?" %}" value="{{ question_form.max_choices.value|default_if_none:'' }}" name="{{ question_form.max_choices.html_name }}" min="{{ question_form.max_choices.field.min_value }}" max="{{ question_form.max_choices.field.max_value }}">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-triangle-top"></span></button>
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %} form-group {% if question_form.table_layout.errors %} has-error {% endif %}">
                        <label class="sr-only" for="{{ question_form.table_layout.id_for_label }}">{{ question_form.table_layout.label }}</label>
                        <div class="input-group">
                            <div class="input-group-addon">{{ question_form.table_layout.label }}:</div>
                            <select class="form-control select-placeholder" id="{{ question_form.table_layout.auto_id }}" name="{{ question_form.table_layout.html_name }}">
                                <option {% if not question_form.table_layout.data %} selected {% endif %} disabled>{% trans "Select" %}</option>
                                {% for value, name in question_form.table_layout.field.choices %}
                                {% if not forloop.first %}
                                <option {% if not question_form.table_layout.data and question_form.table_layout.field.initial == value or question_form.table_layout.data == value %}selected{% endif %} value="{{ value }}">{{ name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="group-wrapper">

                    <div class="modal-header-small">
                        <h3><span class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %}">{% trans "Options" %}</span><span class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %}">{% trans "Candidates" %}</span></h3>
                        <h5 class="text-muted"><span class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %}">({% trans "drag and drop to rearrange the options" %})</span><span class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %}">({% trans "drag and drop to rearrange the candidates" %})</span></h5>
                    </div>

                    <div class="alert-wrapper">
                        {% if option_formset.total_error_count or option_formset.non_form_errors %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <h4>{{ following_errors_detected }}:</h4>
                            <ul class="list-unstyled">
                            {% if option_formset.non_form_errors %}
                                <li><strong>{{ general }}:</strong>
                                    {{ option_formset.non_form_errors }}
                                </li>
                            {% endif %}
                            {% for option_form in option_formset %}
                                {% if option_form.errors or option_form.non_field_errors %}
                                <li><strong>{% trans "Option" %} {{ forloop.counter }}:</strong>
                                    <ul class="errorlist">
                                    {% for field in option_form %}
                                        {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in option_form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                    {{ option_formset.management_form }}

                    <ul class="list-unstyled option-list">
                        {% for option_form in option_formset %}
                        <li class="option">

                            <div class="form-group {% if option_form.name.errors or option_form.non_field_errors %} has-error {% endif %}">
                                <label class="sr-only" for="{{ option_form.name.id_for_label }}">{% trans "Option" %}/{% trans "Candidate" %} {{ forloop.counter }}</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %}">{% trans "Option" %}</span><span class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %}">{% trans "Candidate" %}</span> <span class="index">{{ forloop.counter }}</span>:</div>
                                    <input type="text" class="form-control" id="{{ option_form.name.auto_id }}" placeholder="{% trans "Type the name here" %}" value="{{ option_form.name.value|default_if_none:'' }}" name="{{ option_form.name.html_name }}" maxlength="{{ option_form.name.field.max_length }}">
                                    <div class="input-group-addon option-remove" data-toggle="tooltip" data-container="body" data-title-referendum="{% trans "Remove this option" %}" data-title-election="{% trans "Remove this candidate" %}"><span class="glyphicon glyphicon-trash"></span></div>
                                </div>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>

                    <div class="option-add-wrapper">
                        <button type="button" class="btn btn-default option-add"><span class="glyphicon glyphicon-plus"></span> <span class="referendum-only {% if election_form.type.value != election_form.type_referendum %} hidden {% endif %}">{% trans "Add new option" %}</span><span class="election-only {% if election_form.type.value != election_form.type_election %} hidden {% endif %}">{% trans "Add new candidate" %}</span></button>
                    </div>

                </div>

            </div>
            {% endfor %}
    </div>
</div>

<div id="question-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="question-modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close question-cancel" aria-label="{% trans "Close" %}"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="question-modal-label" data-title-referendum-add="{% trans "Add new question" %}" data-title-referendum-edit="{% trans "Edit question" %}" data-title-election-add="{% trans "Add new party" %}" data-title-election-edit="{% trans "Edit party" %}"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger question-cancel">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-success question-save">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>

<div id="pdf-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="pdf-modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-overflow" id="pdf-modal-label">{% trans "Ballot Preview" %}</h4>
            </div>
            <div class="modal-body">
                <div class="pdf-spinner hidden">
                    <p class="text-center">{% trans "Please wait..." %}</p>
                </div>
                <div class="pdf-form-error hidden">
                    <p class="text-center">{% trans "Unable to preview the ballot. Please fix the errors and try again." %}</p>
                </div>
                <div class="pdf-error hidden">
                    <p class="text-center">{% trans "An error occurred while processing your request." %}</p>
                </div>
                <object class="pdf-object hidden" type="application/pdf" width="100%" height="100%">
                    <p class="text-center">{% trans "It appears that there is no support for PDF documents in this web browser" %}.</p>
                    <p class="text-center"><a download="ballot.pdf">{% trans "Click here to download the ballot" %}.</a></p>
                </object>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pdf-open">{% trans "Open in new tab" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>

{% endblock main %}


{% block script %}

<!-- bootstrap-datetimepicker.css fallback -->
<script>
    (function($) {
        $(function() {
            if ($("#start-datetimepicker > .input-group-addon").css("cursor") != "pointer") {
                $("head").prepend('<link rel="stylesheet" href="{% static "common/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" %}">');
            }
        });
    })(window.jQuery);
</script>

<!-- bootstrap-datetimepicker.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script> $("#start-datetimepicker").datetimepicker || document.write("<script src='{{ moment_locale_static }}'><\/script>") </script>

<!-- jquery-ui-custom.js -->
<script src="{% static "common/libs/jquery-ui/1.11.4/jquery-ui.min.js" %}"></script>

<!-- jquery-ui-touch-punch.js -->
<script src="{% static "common/libs/jquery-ui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" %}"></script>

<!-- create.js -->
<script src="{% static "ea/create.js" %}"></script>

{% endblock script %}

