{% extends "vbb/base.html" %}

{% load i18n %}
{% load staticfiles %}


{% block css %}

<!-- qrcode.css -->
<link rel="stylesheet" href="{% static 'vbb/qrcode.css' %}">

{% endblock css %}

{% block main %}

<div class="page-header text-center">
    <h2>{% trans "Read QR Code" %}</h2>
</div>

<div id="qrcode" class="text-center">
    <div id="qrcode-wait" class="alert alert-warning" role="alert">
        <p>{%  trans "Please wait..." %}</p>
    </div>
    <div id="qrcode-alert" class="hidden alert alert-warning" role="alert">
        {% trans "allow" as allow %}{% trans "share" as share %}
        <p>{% blocktrans with allow="<strong><em>"|add:allow|add:"</em></strong>" share="<strong><em>"|add:share|add:"</em></strong>" %}To use the camera of your device, click {{ allow }} or {{ share }} on the browser's permissions dialog.{% endblocktrans %}</p>
    </div>
    <div id="qrcode-frame" class="hidden">
        <div>
            <p>{% trans "Now, point the camera at your ballot's QR code" %}:</p>
        </div>
        <div>
            <video id="qr-video"></video>
            <canvas id="qr-canvas" class="hidden"></canvas>
        </div>
    </div>
    <div id="qrcode-error" class="hidden alert alert-danger" role="alert">
        <div id="qrcode-denied" class="hidden">
            <p><strong>{% trans "An error occurred" %}: {% trans "Permission denied" %}</strong></p>
        </div>
        <div id="qrcode-not-found" class="hidden">
            <p><strong>{% trans "An error occurred" %}: {% trans "No capture devices found" %}</strong></p>
        </div>
        <div id="qrcode-unsupported" class="hidden">
            <p><strong>{% blocktrans with getUserMedia='<em>getUserMedia</em>' %}Sorry, camera streaming ({{ getUserMedia }}) is not supported in this browser.{% endblocktrans %}</strong></p>
            <p>{% trans "Use a dedicated QR Code reader or type your ballot's link in the browser's address bar." %}</p>
        </div>
        <div id="qrcode-other-error" class="hidden">
            <p><strong>{% trans "An error occurred" %}:</strong></p>
        </div>
    </div>
</div>

<div id="qrcode-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="qrcode-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="qrcode-modal-label">{% trans "You are being redirected, please wait..." %}</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        {% trans "Link to Digital Ballot Box" %}:
                    </div>
                    <div class="panel-body text-center">
                        <a><code></code></a>
                    </div>
                </div>
                {% trans "here" as here %}
                <p>{% blocktrans with here='<a>'|add:here|add:'</a>' %}If you are not automatically redirected, click {{ here }}.{% endblocktrans%}</p>
            </div>
        </div>
    </div>
</div>

{% endblock main %}

{% block script %}

<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/grid.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/version.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/detector.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/formatinf.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/errorlevel.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/bitmat.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/datablock.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/bmparser.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/datamask.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/rsdecoder.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/gf256poly.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/gf256.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/decoder.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/qrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/findpat.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/alignpat.js' %}"></script>
<script type="text/javascript" src="{% static 'common/libs/jsqrcode/src/databr.js' %}"></script>

<script src="{% static 'vbb/qrcode.js' %}"></script>

{% endblock script %}
