{% extends "vbb/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load common.utils %}
{% load vbb.custom %}


{% block css %}

<!-- vote.css -->
<link rel="stylesheet" href="{% static 'vbb/vote.css' %}">

{% endblock css %}


{% block main %}

<div class="row">
    <div class="col-xs-12">
        {% tuple _("Election") election.id as t1 %}
        {% tuple _("Ballot") b_serial|add:" - "|add:p_index as t2 %}
        {% tuple _("Questions") questions|length as t3 %}
        {% tuple t1 t2 t3 as panels %}
        {% include "common/election_box.html" with object=election now_datetime=timezone_now panels=panels %}
        
        {% trans "The election ID you specified is not valid." as invalid_election_id_msg %}
        {% trans "The vote token you specified is not valid." as invalid_vote_token_msg %}
        {% trans "The election starts on" as election_not_started_msg %}
        {% trans "The election has been temporarily paused." as election_paused_msg %}
        {% trans "The election ended on" as election_ended_msg %}
        {% trans "This ballot has already been used." as ballot_used_msg %}
        {% trans "Could connect to server." as connection_error_msg %}
        {% trans "Please try again." as try_again_msg %}
        {% trans "Please try again later." as try_again_later_msg %}
        {% trans "An unexpected error occurred." as unexpected_error_msg %}
        {% trans "Please make sure that the web address matches the link in your ballot." as invalid_url_msg %}
        {% trans "Your vote has been accepted" as vote_accepted %}
        
        <div class="alert alert-warning fade in text-center {% if state != State.NO_ERROR %}hidden{% endif %}" role="alert">
            <p>{% trans "Please wait..." %}</p>
        </div>
    
        <div class="alert alert-success fade in hidden" role="alert">
            <span>
                <span><strong>{% trans "Success" %}!</strong> {{ vote_accepted }}.</span>
                <span class="glyphicon glyphicon-check"></span>
            </span>
        </div>
        
        <div class="alert alert-danger alert-dismissible fade in {% if state == State.NO_ERROR %}hidden{% endif %}" role="alert" aria-hidden="{% if state == State.NO_ERROR %}true{% else %}false{% endif %}">
            <p>
                <strong>{% trans "Error" %}:</strong>
                <span data-state="{{ State.INVALID_ELECTION_ID }}" class="{% if state != State.INVALID_ELECTION_ID %}hidden{% endif %}">{{ invalid_election_id_msg }} {{ invalid_url_msg }}</span>
                <span data-state="{{ State.INVALID_VOTE_TOKEN }}" class="{% if state != State.INVALID_VOTE_TOKEN %}hidden{% endif %}">{{ invalid_vote_token_msg }} {{ invalid_url_msg }}</span>
                <span data-state="{{ State.ELECTION_NOT_STARTED }}" class="{% if state != State.ELECTION_NOT_STARTED %}hidden{% endif %}">{{ election_not_started_msg }} <span class="datetime-iso8601" data-format="dddd D MMMM YYYY, hh:mm a">{{ election.start_datetime|date:"c" }}</span>.</span>
                <span data-state="{{ State.ELECTION_PAUSED }}" class="{% if state != State.ELECTION_PAUSED %}hidden{% endif %}">{{ election_paused_msg }} {{ try_again_later_msg }}</span>
                <span data-state="{{ State.ELECTION_ENDED }}" class="{% if state != State.ELECTION_ENDED %}hidden{% endif %}">{{ election_ended_msg }} <span class="datetime-iso8601" data-format="dddd D MMMM YYYY, hh:mm a">{{ election.end_datetime|date:"c" }}</span>.</span>
                <span data-state="{{ State.BALLOT_USED }}" class="{% if state != State.BALLOT_USED %}hidden{% endif %}">{{ ballot_used_msg }}</span>
                <span data-state="{{ State.SERVER_ERROR }}" class="{% if state != State.SERVER_ERROR %}hidden{% endif %}">{{ unexpected_error_msg }} {{ try_again_msg }}</span>
                <span data-state="{{ State.REQUEST_ERROR }}" class="{% if state != State.REQUEST_ERROR %}hidden{% endif %}">{{ unexpected_error_msg }} {{ try_again_msg }}</span>
                <span data-state="{{ State.CONNECTION_ERROR }}" class="{% if state != State.CONNECTION_ERROR %}hidden{% endif %}">{{ connection_error_msg }} {{ try_again_later_msg }}</span>
            </p>
        </div>
        
        {% if election and questions %}
        <div id="carousel" class="carousel slide {% if state == not State.NO_ERROR %}disabled{% endif %}" data-ride="carousel" data-interval="false" data-wrap="false">
            {% if questions|length > 1 %}
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for question in questions %}
                <li data-target=".carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            {% endif %}
            
            <!-- Wrapper for questions -->
            <div class="carousel-inner" role="listbox">
                {% for question in questions %}
                <div class="item question {% if forloop.first %}active{% endif %}" data-index="{{ question.index }}" data-choices="{{ question.choices }}" data-options="{{ question.optionc_set.values|length }}">
                    <div class="page-header">
                        <h3>
                            <span>
                                <small>{% trans "Question" %}{% if questions|length > 1 %} {{ question.index|add:"1" }}{% endif %}:</small>
                                <br><span class="title">{{ question.text }}</span><br>
                                <small>{% blocktrans count choices=question.choices %}Select one option{% plural %}Select up to {{ choices }} options{% endblocktrans %}</small>
                            </span>
                        </h3>
                    </div>
                    <div class="row">
                        {% with columns=question.columns|add:'1' %}
                        {% for optionc_list in question.optionc_set.values|chunks:columns %}
                        <div class="col-xs-12 col-sm-{{ 12|floordiv:columns }}">
                            <div class="btn-toolbar" role="toolbar">
                                {% for optionc in optionc_list %}
                                <div class="btn-group btn-block" role="group">
                                    <button type="button" autocomplete="off" class="btn btn-default btn-block option" data-index="{{ optionc.index }}" aria-pressed="false" disabled>
                                        <div>
                                            <div>{{ optionc.text }}</div>
                                            <div><span class="glyphicon glyphicon-ok hidden" aria-hidden="true"></div>
                                        </div>
                                    </button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if not forloop.last %}
                        <div class="col-xs-12 visible-xs-block option-separator"></div>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
        
            {% if questions|length > 1 %}
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="hidden">{% trans "Previous Question" %}</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="hidden">{% trans "Next Question" %}</span>
            </a>
            {% endif %}
        </div>
            
        <div class="xs-sm-align">
            <button id="vote-submit" class="btn btn-success" data-toggle="tooltip" title="{% trans 'Please fill in all questions' %}" disabled>{% trans "Submit vote" %}</button>
        </div>
        {% endif %}
        
        {% if state == State.NO_ERROR %}
        <!-- Security Code Modal -->
        <div id="security-code-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="security-code-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="security-code-modal-label">{% trans "Security Code" %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <h4>{% trans "Please enter your ballot's security code" %}:</h4>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
                                <h5>{% blocktrans with b_serial=b_serial p_index=p_index%}Ballot {{ b_serial }} - Side {{ p_index }}{% endblocktrans %}</h5>
                                <div class="form-group">
                                    <input type="text" autocomplete="off" id="security-code-input" class="form-control text-center" placeholder="{% trans 'Security Code' %}" maxlength="{{ sc_length|default_if_none:'' }}" data-salt="{{ sc_salt|default_if_none:'' }}" data-iterations="{{ sc_iterations|default_if_none:'' }}">
                                    <span class="glyphicon form-control-feedback hidden" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px;">
                            <div class="col-xs-12 text-center">
                                <p>{% blocktrans %}The security code enables the voter's web interface. Alternatively, press "Cancel" to vote by typing the vote-codes.{% endblocktrans %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <p><font color="red">{% trans "Important" %}:</font> {% trans "To protect your privacy, the security code is neither saved nor sent to the server." %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="xs-sm-align">
                            <button id="security-code-cancel" type="button" class="btn btn-default">{% trans "Cancel" %}</button>
                            <button id="security-code-ok" type="button" class="btn btn-primary" data-dismiss="modal" disabled>{% trans "OK" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Confirm Modal -->
        <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="confirm-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="confirm-modal-label">{% trans "Please confirm your selections" %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default hidden">
                                    <div class="panel-heading">{% trans "Question" %}</div>
                                    <table class="table table-condensed table-hover">
                                        <thead><tr><th>{% trans "Option" %}</th><th>{% trans "Votecode" %}</th></tr></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <p><font color="red">{% trans "Important" %}:</font> {% trans 'After clicking "Confirm", your vote will be submitted to the server and you will not be able to make any further changes.' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="xs-sm-align">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                            <button id="vote-confirm" type="button" class="btn btn-primary">{% trans "Confirm" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Receipt Modal -->
        <div id="receipt-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="receipt-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="{% trans 'Close' %}" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="receipt-label">{{ vote_accepted }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default hidden">
                                    <div class="panel-heading">{% trans "Question" %}</div>
                                    <table class="table table-condensed table-hover">
                                        <thead><tr><th>{% trans "Option" %}</th><th>{% trans "Votecode" %}</th><th>{% trans "Receipt" %}</th></tr></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <p>{% trans "The results will be announced after the election has ended." %}</p>
                                <p>{% trans "Thank you for your participation!" %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="xs-sm-align">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <a class="btn btn-default" href="{{ abb_url }}" target="_blank" role="button">{% trans "Audit and Results" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
    </div>
</div>

{% endblock main %}


{% block script %}

<script src="{% static 'common/libs/jquery-mobile/1.4.5/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'common/libs/sjcl/sjcl.custom.min.js' %}"></script>
<script src="{% static 'common/sjcl-base32cf.js' %}"></script>
<script src="{% static 'common/sjcl-divmod.js' %}"></script>
<script src="{% static 'common/permutation.js' %}"></script>

<script>
    var security_code = null;
    var max_options = {{ max_options|default:'null' }};
    var votecode_len = {{ votecode_len|default:'null' }};
    var credential = sjcl.codec.base64.toBits("{{ credential|default:'' }}");
    var vc_type = {{ election.vc_type }};
    
    var VcType = { {% for name, value in VcType.items %} {{ name }}: {{ value }}, {% endfor %} };
    var State = { {% for name, value in State.items %} {{ name }}: {{ value }}, {% endfor %} };
</script>

<script src="{% static 'vbb/vote.js' %}"></script>

{% if state == State.NO_ERROR %}
<script>
    $(document).ready(function() {
        $("#security-code-modal").modal("show");
        $("#vote-submit").prop("disabled", false);
        $("#carousel .option").prop("disabled", false);
    });
</script>
{% endif %}

{% endblock script %}

