{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}
{% trans "Verify your email address" %} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3>{% trans "Verify your email address" %}</h3>
  </div>
  {% if confirmation %}
  {% user_display confirmation.email_address.user as user_display %}
  <p>{% blocktrans with email_address=confirmation.email_address.email %}Please confirm that the email address {{ email_address }} belongs to user {{ user_display }}.{% endblocktrans %}</p>
  <br>
  <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <div class="button-wrap">
      <button class="btn btn-primary" type="submit">{% trans "Confirm" %}</button>
    </div>
  </form>
  {% else %}
  {% url 'account_email' as email_url %}
  <p>{% blocktrans %}The email verification link is invalid. <a href="{{ email_url }}">Request a new one</a>.{% endblocktrans %}</p>
  {% endif %}
</div>
{% endblock %}
