{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}
{% trans "Email addresses" %} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3>{% trans "Email addresses" %}</h3>
  </div>
  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}"><span aria-hidden="true">&times;</span></button>
    <ul class="list-unstyled">
      {% for non_field_error in form.non_field_errors %}
      <li>{{ non_field_error }}</li>
      {% endfor %}
    <ul>
  </div>
  {% endif %}
  {% with email_addresses=user.emailaddress_set.all %}
  {% if email_addresses %}
  <div class="panel panel-default">
  <table class="table">
    <tbody>
      {% for email_address in email_addresses %}
      <tr>
        <td style="width:100%;vertical-align:middle;word-break:break-all;white-space:normal;">
          {{ email_address.email }}
          {% if email_address.primary %}
          <span class="label label-success">{% trans "Primary" %}</span>
          {% endif %}
          {% if email_address.verified %}
          <span class="label label-primary">{% trans "Verified" %}</span>
          {% else %}
          <span class="label label-warning">{% trans "Unverified" %}</span>
          {% endif %}
        </td>
        <td>
          <form method="POST" action="{% url 'account_email' %}">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ email_address.email }}">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if  email_address.primary and email_address.verified %}disabled{% endif %}>
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                {% if not email_address.primary %}
                <li>
                  <button class="btn btn-link" type="submit" name="action_primary">{% trans "Set as primary" %}</button>
                </li>
                {% endif %}
                {% if not email_address.verified %}
                <li>
                  <button class="btn btn-link" type="submit" name="action_send">{% trans "Send verification email" %}</button>
                </li>
                {% endif %}
                {% if not email_address.primary %}
                <li>
                  <button class="btn btn-link" type="submit" name="action_remove">{% trans "Remove" %}</button>
                </li>
                {% endif %}
              </ul>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="alert alert-warning">
    <p>{% trans "You do not have any email addresses. You have to add one to receive notifications, reset your password, etc." %}</p>
  </div>
  {% endif %}
  {% endwith %}
  <div class="page-header">
    <h4>{% trans "Add email address" %}</h4>
  </div>
  <form method="POST" action="{% url 'account_email' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="button-wrap">
      <button class="btn btn-primary" name="action_add" type="submit">{% trans "Add email address" %}</button>
    </div>
  </form>
</div>
{% endblock %}
