{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3>{% trans "Sign in" %}</h3>
  </div>
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
  <div class="page-header">
    <h4>{% trans "Sign in with a third-party account" %}</h4>
  </div>
  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  {% include "socialaccount/snippets/login_extra.html" %}
  <div class="page-header">
    <h4>{% trans "Sign in with your email address" %}</h4>
  </div>
  {% endif %}
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <div class="button-wrap">
      <button class="btn btn-primary" type="submit">{% trans "Sign in" %}</button>
      <a class="btn btn-default button" href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>
    </div>
  </form>
  <br>
  <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>.{% endblocktrans %}</p>
</div>
{% endblock %}
