{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}
{% trans "Reset password" %} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3>{% trans "Reset password" %}</h3>
  </div>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <form method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="button-wrap">
      <input class="btn btn-primary" type="submit" value="{% trans "Reset password" %}">
    </div>
  </form>
</div>
{% endblock %}
