{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}
{% trans "Set password" %} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3>{% trans "Set password" %}</h3>
  </div>
  <form method="POST" action="{% url 'account_set_password' %}">
      {% csrf_token %}
      {{ form|bootstrap }}
      <div class="button-wrap">
        <input class="btn btn-primary" type="submit" name="action" value="{% trans "Set password" %}">
      </div>
  </form>
</div>
{% endblock %}
