{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3>{% trans "Set Password" %}</h3>
  </div>
  <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
      {% csrf_token %}
      {{ form|bootstrap }}
      <div class="button-wrap">
        <input class="btn btn-primary" type="submit" name="action" value="{% trans "Set Password" %}"/>
      </div>
  </form>
</div>
{% endblock %}
