{% extends './base.html' %}

{% load i18n %}
{% load static %}
{% load account %}
{% load demos_voting %}

{% block head_title %}
{% trans "User profile" %}{{ block.super }}
{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3>{% trans "User profile" %}</h3>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="profile" class="row">
        <div id="profile-avatar" class="col-xs-12 col-sm-3 col-md-2">
          <i class="fa fa-user-circle-o fa-5x text-muted" aria-hidden="true"></i>
        </div>
        <div id="profile-personal-info" class="col-xs-12 col-sm-9 col-md-10">
          <h4>{% trans "Personal Information" %}</h4>
          {% trans "not available" as not_available %}
          {% with not_available='<span class="text-muted">'|add:not_available|add:'</span>' %}
          {% block personal-info %}
          <ul class="list-unstyled">
            {% if username_required %}
            <li>{{ user|verbose_name:'username'|capfirst }}: {{ user.username|default:not_available }}</li>
            {% endif %}
            <li>{{ user|verbose_name:'first_name'|capfirst }}: {{ user.first_name|default:not_available }}</li>
            <li>{{ user|verbose_name:'last_name'|capfirst }}: {{ user.last_name|default:not_available }}</li>
            <li>{{ user|verbose_name:'email'|capfirst }}: {{ user.email|default:not_available }}</li>
            <li>
              {{ user.profile|verbose_name:'language'|capfirst }}:
              {% if user.profile.language %}
              {% get_language_info for user.profile.language as language_info %}
              {{ language_info.name_translated }}
              {% else %}
              {{ not_available }}
              {% endif %}
            </li>
            <li>{{ user.profile|verbose_name:'timezone'|capfirst }}: {{ user.profile.timezone|default:not_available }}</li>
            <li>{{ user|verbose_name:'date_joined'|capfirst }}: {{ user.date_joined|default:not_available }}</li>
            <li>{{ user|verbose_name:'last_login'|capfirst }}: {{ user.last_login|default:not_available }}</li>
          </ul>
          {% endblock %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
  <ul class="list-unstyled">
    {% if request.user.has_usable_password %}
    <li><a href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a></li>
    {% else %}
    <li><a href="{% url 'account_set_password' %}">{% trans "Set Password" %}</a></li>
    {% endif %}
    <li><a href="{% url 'account_email' %}">{% trans "E-mail Addresses" %}</a></li>
    <li><a href="{% url 'socialaccount_connections' %}">{% trans "Account Connections" %}</a></li>
  </ul>
</div>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/profile.css' %}">
{% endblock %}
