{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}
{% trans "Sign up" %} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3>{% trans "Sign up" %}</h3>
  </div>
  <form method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <div class="button-wrap">
      <button class="btn btn-primary" type="submit">{% trans "Sign up" %}</button>
    </div>
  </form>
  <br>
  <p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in.</a>{% endblocktrans %}</p>
</div>
{% endblock %}
