{% extends 'base/includes/nav.html' %}

{% load i18n %}

{% block nav-tabs %}
<li role="presentation" {% if request.resolver_match.view_name == 'election-authority:home' %}class="active"{% endif %}>
  <a href="{% url 'election-authority:home' %}">
    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
    {% trans "Home" %}
  </a>
</li>
<li role="presentation" {% if request.resolver_match.view_name == 'election-authority:election-list' or request.resolver_match.view_name == 'election-authority:election-detail' or request.resolver_match.view_name == 'election-authority:election-update' %}class="active"{% endif %}>
  <a href="{% url 'election-authority:election-list' %}">
    <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
    {% trans "Elections" %}
  </a>
</li>
<li role="presentation" {% if request.resolver_match.view_name == 'election-authority:election-create' %}class="active"{% endif %}>
  <a href="{% url 'election-authority:election-create' %}">
    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
    {% trans "Create election" %}
  </a>
</li>
{% endblock %}
